<footer class="container-fluid bg-light">
	<div class="row py-5">

		<div class="col">
			<a 
				href="/" 
				class="d-flex align-items-center mb-3 link-dark text-decoration-none">
				<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
				<h2 class="footer-heading">{{ site.title | escape }}</h2>
			</a>
			<p>{{- site.description | escape -}}</p>
			<ul class="contact-list">
				<li class="p-name">
				{%- if site.author -%}
				{{ site.author | escape }}
				{%- else -%}
				{{ site.title | escape }}
				{%- endif -%}
				</li>
				{%- if site.email -%}
				<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				{%- endif -%}
			</ul>
		</div>


		<div class="col">
		<h5>Social</h5>
		{%- include social.html -%}
		</div>

	</div>

</footer>
